<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Commodity</title>
    <style>
        li {
            padding: 5px;
        }

        table {
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>

<ul>
    <li id="id">Id: $id</li>
    <li id="name">Name: $name</li>
    <li id="providerId">Provider Id: $providerId</li>
    <li id="price">Price: $price</li>
    <li id="categories">Categories: $categories</li>
    <li id="rating">Rating: $rating</li>
    <li id="inStock">In Stock: $inStock</li>
</ul>
<br>

<label for="username">Your Id: </label>
<input type="text" name="username" id="username"/>
<br><br>

<form action="/rateCommodity/$id" method="POST">
    <input type="hidden" name="username" value=""/>
    <label>Rate(between 1 and 10):</label>
    <label for="quantity">
        <input type="number" id="quantity" name="quantity" min="1" max="10">
    </label>
    <button type="submit">Rate</button>
</form>
<br>

<form action="/addToBuyList/$id" method="POST">
    <input type="hidden" name="username" value=""/>
    <button type="submit">Add to BuyList</button>
</form>
<br>

<table>
    <tr>
        <th>username</th>
        <th>comment</th>
        <th>date</th>
        <th>likes</th>
        <th>dislikes</th>
    </tr>
        $comments
</table>

</body>
</html>
