<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider</title>
    <style>
        li {
            padding: 5px
        }

        table {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<ul>
    <li id="id">Id: $id</li>
    <li id="name">Name: $name</li>
    <li id="registryDate">Registry Date: $registryDate</li>
</ul>
<table>
    <caption><h3>Provided Commodities</h3></caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Categories</th>
        <th>Rating</th>
        <th>In Stock</th>
        <th>Page</th>
    </tr>
    $commodities
</table>
</body>
</html>
